@font-face {
	font-family: "Brown";
	src: url('../fonts/brown-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/brown-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/brown-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/brown-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/brown-regular.svg#svgFontName') format('svg'); /* Legacy iOS */

}

@font-face{
	font-family: "Eveleth";
	src: url('../fonts/eveleth-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/eveleth-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/eveleth-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/eveleth-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/eveleth-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face{
	font-family: "Eveleth-thin";
	src: url('../fonts/eveleth-thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/eveleth-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/eveleth-thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/eveleth-thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/eveleth-thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}