* {
  box-sizing: border-box; }

@font-face {
  font-family: Eveleth;
  src: url("../fonts/Eveleth/Eveleth-Regular.otf"); }

@font-face {
  font-family: Brown;
  src: url("../fonts/brown.otf"); }

body {
  background-color: #043540;
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  font-family: 'Brown', sans-serif;
  background-size: auto; }

/**================================================== *
 * ==========  Loading Section  ========== *
 * ================================================== */
#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center; }

.loading {
  color: #ffd962;
  font-size: 4rem; }

/* =======  End of Loading Section  ======= */
/**================================================== *
 * ==========  Login Section  ========== *
 * ================================================== */
.login-container {
  position: relative; }
  .login-container .login-logo {
    padding: 80px 18px 50px; }
    .login-container .login-logo img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
  .login-container .login-input {
    padding-bottom: 60px;
    max-width: 400px;
    margin: 0 auto; }
    .login-container .login-input .forgot-pw {
      position: absolute;
      right: 18px;
      bottom: -30px; }
      .login-container .login-input .forgot-pw a {
        font-size: 1.2rem;
        color: #9e9e9e; }
        .login-container .login-input .forgot-pw a:hover {
          color: rgba(255, 217, 98, 0.7); }
    .login-container .login-input input {
      font-size: 1.2rem;
      color: rgba(253, 249, 244, 0.7); }
      .login-container .login-input input:focus {
        color: #fdf9f4;
        border-bottom: 1px solid #ffd962;
        box-shadow: 0 1px 0 0 #ffd962; }
        .login-container .login-input input:focus + label {
          color: #ffd962; }
      .login-container .login-input input + label {
        font-size: 1.2rem; }
  .login-container .btn-login-submit {
    min-width: 305px;
    border-radius: 60px;
    color: #fdf9f4;
    text-transform: uppercase;
    background-color: rgba(153, 153, 153, 0.2); }
    .login-container .btn-login-submit:hover {
      background-color: #ffd962;
      color: #043540; }

/* =======  End of Login Section  ======= */
/**================================================== *
 * ==========  Header section  ========== *
 * ================================================== */
header {
  background-color: #043540;
  padding: 10px;
  position: fixed;
  top: 0;
  text-decoration: none;
  height: 50px;
  width: 100%;
  z-index: 10; }

.arrow-back img {
  height: 40px;
  padding: 5px;
  position: absolute;
  top: 6px;
  left: 10px; }

.arrow-back:hover {
  cursor: pointer; }

.nav-header-text {
  font-family: 'Eveleth', sans-serif;
  margin-top: -15px;
  text-align: center;
  color: #fdf9f4; }

.logo img {
  height: 35px; }

.toggle-sidebar {
  position: fixed;
  top: -4px;
  right: 20px;
  font-size: 40px;
  color: #fdf9f4;
  cursor: pointer; }

.toggle-close {
  position: relative;
  margin: 2px 0 0 267px;
  font-size: 40px;
  display: block;
  cursor: pointer; }

#sidebarToggler {
  display: none; }

#sidebarToggler:checked + header .sidebar {
  right: 0px; }

.sidebar {
  margin: 0;
  position: fixed;
  top: 0px;
  right: -350px;
  bottom: 0px;
  z-index: 20;
  width: 320px;
  background-color: #043540;
  transition: .3s ease-in-out;
  overflow-y: scroll; }
  .sidebar ul {
    color: #9e9e9e;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none; }
    .sidebar ul li {
      padding: 0 0 0 80px;
      cursor: pointer;
      border-bottom: 2px solid #1e4a53;
      position: relative;
      height: 65px;
      line-height: 65px; }
      .sidebar ul li:hover {
        background-color: #ffd962;
        color: #000; }
      .sidebar ul li img {
        height: 35px;
        position: absolute;
        top: 15px;
        left: 35px; }

.sidebar-profile {
  color: #fdf9f4;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #1e4a53; }
  .sidebar-profile p {
    color: #548681; }
  .sidebar-profile img {
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: 0 auto; }

.sidebar-copy {
  color: #548681;
  text-align: center;
  padding-top: 40px; }

/* =======  End of Header section  ======= */
/*=================================
=            Main menu            =
=================================*/
/* THE 4 ICONS IN MAIN PAGE ----------------*/
a {
  text-decoration: none; }

.main-content {
  margin-top: 80px; }

.logo1 img {
  height: 40px;
  position: absolute; }

p {
  margin: 0; }

.h1-title {
  font-size: 16px;
  color: #fff;
  font-family: 'Eveleth';
  margin: 10px 0 0 20px; }

hr {
  width: 80%;
  height: 1px;
  border-style: solid;
  background-color: #043540; }

.shift-container {
  width: 100%;
  margin: 15px 0; }

.card-bg {
  background-color: #fff;
  border-radius: 10px;
  min-height: 168px;
  padding-bottom: 15px;
  width: 90%;
  margin: 10px auto 0 auto; }

.card-third-1 {
  width: 34%;
  margin: 0 1%;
  float: left; }

.date {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left; }

.p-date {
  margin: -5px 0 0 0;
  padding: 0;
  font-size: 45px; }

.p-month {
  margin: -11px 0 0 0;
  padding: 0;
  font-size: 26px; }

.p-day {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 14px;
  color: #8bc7b9; }

.card-third-2 {
  width: 40%;
  margin: 0;
  padding: 0 1%;
  float: left; }

.p-hours {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 18px; }

.p-work-info-rosa {
  margin: 0 4px 0 0;
  padding: 0;
  font-size: 11px;
  color: #f18879;
  float: left; }

.p-work-info-azur {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #8bc7b9; }

.card-third-3 {
  width: 20%;
  margin: 0 1%;
  float: left; }

.slider-map-icon {
  width: 20px;
  height: 20px;
  margin: 13px 0 0 -10px;
  float: left; }

.card-third-3-holder {
  margin: 8px 0 0 10px;
  width: 30px; }

.p-see {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 5px;
  font-family: 'Eveleth', sans-serif; }

.p-map {
  font-size: 15px;
  margin-top: -3px;
  margin-left: 5px;
  color: #8bc7b9; }

.jssorb05 {
  position: absolute; }

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url("../img/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb05 div {
  background-position: -7px -7px; }

.jssorb05 div:hover, .jssorb05 .av:hover {
  background-position: -37px -7px; }

.jssorb05 .av {
  background-position: -67px -7px; }

.jssorb05 .dn, .jssorb05 .dn:hover {
  background-position: -97px -7px; }

.show-more {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  display: none;
  overflow: scroll; }

.expand {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Eveleth', sans-serif;
  text-align: center; }
  .expand:hover {
    cursor: pointer; }

.testbox {
  width: 300px;
  height: 300px;
  background-color: blue; }

.tile-left {
  width: 43%;
  height: 150px;
  margin-left: 5%;
  margin-right: 1%;
  margin-top: 15px;
  float: left;
  background-color: #fff;
  border-radius: 10px; }

.tile-right {
  width: 43%;
  height: 150px;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 15px;
  float: left;
  background-color: #fff;
  border-radius: 10px; }

.icon-holder {
  width: 60px;
  height: 60px;
  margin: 35px auto 0 auto; }

.weather-container {
  width: 700px;
  background-color: blue;
  height: 150px; }

.weather-block {
  width: 50px;
  height: 130px;
  margin: 10px 10px;
  background-color: red;
  float: left; }

.p-weather-days {
  font-family: 'Eveleth', sans-serif;
  font-size: 12px;
  text-align: center; }

.p-weather-days-third {
  width: 33%;
  margin: 0 auto;
  float: left; }

.p-weather-degree {
  font-family: 'Eveleth', sans-serif;
  font-size: 20px;
  text-align: center; }

.p-weather-degree-b {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  float: left;
  color: #8bc7b9; }

#loading-screen {
  padding: 120px 18px 50px; }

/* bugfix --------------------------------*/
.tile-title-container {
  height: 20px;
  width: 100%;
  text-align: center; }

.p-tile-title {
  font-size: 16px;
  margin: 2px 0 0 0;
  font-family: 'Eveleth', sans-serif;
  color: #043540; }

.btn-flat {
  background-color: #fff;
  width: 100%;
  height: 150px;
  color: #043540; }

.main-menu-left {
  margin-left: 5%;
  margin-right: 2.5%; }

.main-menu-right {
  margin-left: 2.5%;
  margin-right: 5%; }

.main-menu-right, .main-menu-left {
  width: 42.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left; }

.main-menu-icon {
  display: block;
  width: 50px;
  margin: 0 auto; }

.tile-title {
  font-size: 16px;
  margin: 2px 0 0 0;
  font-family: 'Eveleth', sans-serif;
  color: #043540; }

/*=====  End of Main menu  ======*/
/*===========================
=            Map            =
===========================*/
/*=====  End of Map  ======*/
/*============================
=            Chat            =
============================*/
/*=====  End of Chat  ======*/
/*===========================
=            FAQ            =
===========================*/
/*=====  End of FAQ  ======*/
/*============================
=            Info            =
============================*/
.faq-container {
  width: 90%;
  background-color: #fdf9f4;
  margin: 0, auto;
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 10px;
  border-radius: 10px; }

.collapsible-header {
  background-color: #043540; }

/*=====  End of Info  ======*/
